<div class="btnid">
    <button class="btn btn-primary" routerLink="/">Home</button>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 left-side">

            <h1 class="text-center">American Sign language</h1>
            <img src="assets/Images/american_sign.png" alt="New Photo" class="img-fluid">
            <h2>Get more information on below link.</h2>
            <a href="https://youtu.be/cGavOVNDj1s?feature=shared" target="_blank" class="btn btn-link">Learn Hand
                Gestures Part 1 (Alphabets)</a>
            <br>
            <a href="https://youtu.be/cJ6UFIP-Vt0?feature=shared" target="_blank" class="btn btn-link">Learn Hand
                Gestures Part 2 (Numbers)</a>
        </div>

        <div class="col-md-4 right-side mt-3">
            <div class="content">
                <div class="logo text-center">
                    <img src="assets/Images/logo.png" alt="Project Logo" class="img-fluid project-logo">
                    <!-- Added project logo -->
                </div>
                <div class="main-heading text-center">
                    <h2>SymbolSync</h2>
                </div>
                <div class="buttonContainer">
                    <button class="btn btn-primary" routerLink="/signlearn">Sign Learning</button>
                    <button class="btn btn-primary" routerLink="/signrecog">Sign Recognition</button>
                </div>
            </div>
        </div>
    </div>
</div>