h1,
p {
    font-family: "Times New Roman", serif;

}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    color: rgb(96, 0, 174);
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #007bff;
    color: #fff;
}

.left-side {
    width: 50%;
    background-color: rgb(180, 179, 179);
    padding: 20px;
    border-radius: 10px;
    height: auto;
}

.right-side {
    padding: 20px;
    padding-left: 80px;
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    align-content: center;
}

.btnid {
    position: absolute;
    top: 20px;
    left: 20px;
}

.content {
    background: rgba(192, 192, 192, 0.579);
    text-align: center;
    padding: 100px;
    border-radius: 6px;
}

p {
    font-size: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.buttonContainer button {
    font-family: "Roboto", sans-serif;
    min-width: 150px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}