<div class="btnid">
  <button type="button" class="btn btn-primary" routerLink="/">Home</button>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 left-side">
      <h1 class="text-center">Introduction</h1>
      <p>SymbolSync is the epitome of innovation, seamlessly bridging communication gaps for individuals with hearing
        impairments. Leveraging the cutting-edge EfficientNetv2 architecture, SymbolSync ensures swift and accurate sign
        language recognition, enabling real-time interpretation of gestures. Through advanced deep learning techniques,
        SymbolSync provides instant translation of sign language into text or spoken language, facilitating effective
        communication like never before. Join us in revolutionizing communication accessibility with SymbolSync – where
        every gesture speaks volumes.</p>
      <div class="row">
        <div class="col-md-6 ">
          <img src="/assets/Images/photo1.jpg" class="img-fluid image-spacing" alt="Photo 1">
        </div>
        <div class="col-md-6">
          <img src="/assets/Images/photo2.jpg" class="img-fluid image-spacing" alt="Photo 2">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="/assets/Images/photo3.jpg" class="img-fluid image-spacing" alt="Photo 3">
        </div>
        <div class="col-md-6">
          <img src="/assets/Images/photo4.jpg" class="img-fluid image-spacing" alt="Photo 4">
        </div>
      </div>
    </div>


    <div class="col-md-4 right-side mt-3">
      <div class="content">
        <div class="logo text-center">
          <img src="/assets/Images/logo.png" alt="Project Logo" class="img-fluid project-logo">

        </div>
        <div class="main-heading text-center">
          <h2>SymbolSync</h2>
        </div>
        <div class="buttonContainer">
          <button class="btn btn-primary" routerLink="/signlearn">Sign Learning</button>
          <button class="btn btn-primary" routerLink="/signrecog">Sign Recognition</button>
        </div>
      </div>
    </div>
  </div>
</div>